pdti-server/src/wsdl/HPD_ProviderInformationDirectory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
    name="HPDProviderInformationDirectory"
    targetNamespace="urn:ihe:iti:hpd:2010"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:dsml="urn:oasis:names:tc:DSML:2:0:core"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:tns="urn:ihe:iti:hpd:2010"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:documentation>HPD Provider Information Directory</wsdl:documentation>
    <wsdl:types>
        <xsd:schema targetNamespace="urn:oasis:names:tc:DSML:2:0:core">
            <xsd:include schemaLocation="../schema/DSML/DSMLv2.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ProviderInformationQueryRequestMessage">
        <wsdl:documentation>Provider Information Query Request Message</wsdl:documentation>
        <wsdl:part name="body" element="dsml:batchRequest"/>
    </wsdl:message>
    <wsdl:message name="ProviderInformationQueryResponseMessage">
        <wsdl:documentation>Provider Information Query Response Message</wsdl:documentation>
        <wsdl:part name="body" element="dsml:batchResponse"/>
    </wsdl:message>
    <wsdl:message name="ProviderInformationFeedRequestMessage">
        <wsdl:documentation>Provider Information Feed Request Message</wsdl:documentation>
        <wsdl:part name="body" element="dsml:batchRequest"/>
    </wsdl:message>
    <wsdl:message name="ProviderInformationFeedResponseMessage">
        <wsdl:documentation>Provider Information Feed Response Message</wsdl:documentation>
        <wsdl:part name="body" element="dsml:batchResponse"/>
    </wsdl:message>
    <wsdl:portType name="ProviderInformationDirectory_PortType">
        <wsdl:operation name="ProviderInformationQueryRequest">
            <wsdl:input message="tns:ProviderInformationQueryRequestMessage"/>
            <wsdl:output message="tns:ProviderInformationQueryResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ProviderInformationFeedRequest">
            <wsdl:input message="tns:ProviderInformationFeedRequestMessage"/>
            <wsdl:output message="tns:ProviderInformationFeedResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProviderInformationDirectory_Binding" type="tns:ProviderInformationDirectory_PortType">
        <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
        <wsdl:operation name="ProviderInformationQueryRequest">
            <soap12:operation soapAction="urn:ihe:iti:hpd:2010:ProviderInformationQueryRequest"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="response">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProviderInformationFeedRequest">
            <soap12:operation soapAction="urn:ihe:iti:hpd:2010:ProviderInformationFeedRequest"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="response">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProviderInformationDirectory_Service">
        <wsdl:port name="ProviderInformationDirectory_Port_Soap" binding="tns:ProviderInformationDirectory_Binding">
            <soap12:address location="http://localhost/ProviderInformationDirectoryService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>