pdti-server/src/wsdl/HPD_ProviderInformationDirectory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="HPDProviderInformationDirectory"
	targetNamespace="urn:ihe:iti:hpd:2010" xmlns:tns="urn:ihe:iti:hpd:2010"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:dsml="urn:oasis:names:tc:DSML:2:0:core"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<documentation>IHE HPD Provider Information Directory</documentation>
	<types>
		<xsd:schema targetNamespace="urn:oasis:names:tc:DSML:2:0:core"
			xmlns:dsml="urn:oasis:names:tc:DSML:2:0:core">
			<xsd:include schemaLocation="../schema/DSML/DSMLv2.xsd" />
		</xsd:schema>
	</types>
	<message name="ProviderInformationQueryRequestMessage">
		<documentation>Provider Information Query Request Message
		</documentation>
		<part name="body" element="dsml:batchRequest" />
	</message>
	<message name="ProviderInformationQueryResponseMessage">
		<documentation>Provider Information Query ResponseMessage
		</documentation>
		<part name="body" element="dsml:batchResponse" />
	</message>
	<message name="ProviderInformationFeedRequestMessage">
		<documentation>Provider Information Feed Request Message
		</documentation>
		<part name="body" element="dsml:batchRequest" />
	</message>
	<message name="ProviderInformationFeedResponseMessage">
		<documentation>Provider Information Feed Response Message
		</documentation>
		<part name="body" element="dsml:batchResponse" />
	</message>
	<portType name="ProviderInformationDirectory_PortType">
		<operation name="ProviderInformationQueryRequest">
			<input message="tns:ProviderInformationQueryRequestMessage"/>
			<output message="tns:ProviderInformationQueryResponseMessage"/>
		</operation>
		<operation name="ProviderInformationFeedRequest">
			<input message="tns:ProviderInformationFeedRequestMessage"/>
			<output message="tns:ProviderInformationFeedResponseMessage"/>
		</operation>
	</portType>
	<binding name="ProviderInformationDirectory_Binding" type="tns:ProviderInformationDirectory_PortType">
		<soap12:binding style="document"
			transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" />
		<operation name="ProviderInformationQueryRequest">
			<soap12:operation
				soapAction="urn:ihe:iti:hpd:2010:ProviderInformationQueryRequest" />
			<input>
				<soap12:body use="literal" />
			</input>
			<output name="response">
				<soap12:body use="literal" />
			</output>
		</operation>
		<operation name="ProviderInformationFeedRequest">
			<soap12:operation soapAction="urn:ihe:iti:hpd:2010:ProviderInformationFeedRequest" />
			<input>
				<soap12:body use="literal" />
			</input>
			<output name="response">
				<soap12:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ProviderInformationDirectory_Service">
		<port name="ProviderInformationDirectory_Port_Soap" binding="tns:ProviderInformationDirectory_Binding">
			<soap12:address location="http://localhost/ProviderInformationDirectoryService"/>
		</port>
	</service>
</definitions>